body {
	font-family: "Arial";
	padding-top: 70px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 25px 16px;
	text-decoration: none;
}

form {
	text-align: center;
	font-size: 1.6em;
}

input[type=text], input[type=password] {
	padding: 12px 20px;
	width: 50%;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 1em;
}

input[type=submit] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: none;
	margin-top: 10px;
	width: 50%;
}
