body {
	font-family: "Arial";
	padding-top: 68px;
	margin-left: 0;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px;
	overflow: auto;
}

.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 25px 16px;
	text-decoration: none;
}

.category {
	float: left;
	list-style-type: none;
	margin: 0;
	margin-top: -9px;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	text-align: center;
}

.category li {
	display: block;
	padding: 8px 16px;
}

.category li a {
	color: #000;
	text-decoration: none;
}

form {
	text-align: center;
	font-size: 1.6em;
}

input[type=text], input[type=password] {
	padding: 12px 20px;
	width: 50%;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: 1em;
}

input[type=submit] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: none;
	margin-top: 10px;
	width: 50%;
}

.float {
	float:left;
	margin-left: 10px;
	width: 70%;
}

.product  {
	background-color: #f2f2f2;
	border: 2px solid black;
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	margin-bottom: 10px;
}

.product input[type=submit] {
	width: 15px;
}

.add-button {
	text-decoration: none;
	text-align: center;
	display: block;
	width: 50%;
	padding: 25px 16px;
	color: #f2f2f2;
	background-color: #4CAF50;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
}

.admin-table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.admin-table th, td {
	padding: 10px 10px;
	text-align: center;
	border: 1px solid black;
}

.error-empty {
	margin-top: 20px;
	text-align: center;
	color: red;
}
